div.main-page{
    position: relative;
}

div.main-page h1.page-title-name{
    display: block;
    font-weight: 700;
    font-size: 58px;

    color: white;

    text-align: center;
    margin: 5% auto 0 auto;
}

div.main-page p.description-text{
    width: 40%;
    text-align: center;

    margin: 5% auto 0 auto;

    font-size: 32px;
    font-weight: 500;
}

div.main-page img.women{
    position: absolute;

    width: 19.38vw;
    /*height: 52.22vh;*/
    left: 5%;
    bottom: 15%;
}

div.main-page img.boy{
    position: absolute;

    right: 5%;
    top: 7%;

    width: 14.22vw;
    /*height: 22.87vh;*/
}

@media only screen and (max-width: 1023px) {
    div.main-page img.women{
        display: none;
    }

    div.main-page img.boy{
        position: static;
        display: block;

        width: 35%;
        max-width: 200px;
        min-width: 150px;
        margin: 0 auto 0 auto;
    }
    div.main-page h1.page-title-name{
        font-size: 62px;
        margin: auto;
    }

    div.main-page p.description-text{
        width: 80%;
        margin: auto;
    }
}


@media only screen and (max-width: 400px){
    div.main-page h1.page-title-name{
        font-size: 48px;
        margin: auto;
    }

    div.main-page p.description-text{
        width: 85%;
    }

}


@media only screen and (max-width: 320px){
    div.main-page h1.page-title-name{
        font-size: 38px;
        margin: auto;
    }

    div.main-page p.description-text{
        width: 85%;
        font-size: 26px;
        margin: auto;
    }
}