p.phone-description-text{
    width: 40%;
    text-align: center;

    margin: 5% auto 0 auto;

    font-size: 26px;
    font-weight: 200;
}

p.phone-description-text span{
    font-size: 32px;
    font-weight: bold;
}

.email-input-area{
    margin: auto;
}




