div.user-profile-page div.inputs-area{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
}
div.user-profile-page  div.inputs-area input{
    margin-top: 20px;
}

div.user-profile-page  div.inputs-area input:first-child{
    margin-top: 0;
}

div.user-profile-page  p.profile-page-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;

    color: #F7F7FC;

    margin: 3% auto 0 auto;
}

div.user-profile-page  div.user-avatar-input{
    cursor: pointer;
    margin: 10% auto 10% auto;
    width: 120px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #152033;
    border-radius: 40px;
}


div.user-profile-page  div.user-avatar-input svg{
    width: 80%;
    height: 80%;
}


@media only screen and (max-width: 400px){
    div.user-profile-page p.profile-page-title{
        font-size: 52px;
        margin: auto;
    }
}

@media only screen and (max-width: 320px){
    div.user-profile-page p.profile-page-title{
        font-size: 46px;
        margin: auto;
    }
}
