div.chats-search{
    display: flex;
    align-items: center;

    width: 95%;
    height: 35px;

    margin: 0 auto 15px auto;
    padding: 0 10px 0 10px;

    background-color: #152033;
    border-radius: 4px;
}

div.chats-search svg.search-icon{
    width: 24px;
    height: 24px;

    margin-right: 5px;

    fill: #ADB5BD;

    cursor: pointer;
}