.user-icon{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 55px;

    cursor: pointer;
}

.user-icon p.user-name-and-surname{
    margin-left: 10px;
}