.chat-icon div.chat-icon-content, .chat-icon-active div.chat-icon-content{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;

    padding: 0 25px;

    cursor: pointer;

}
.chat-icon-active div.chat-icon-content{
    background-color: rgba(55, 95, 255, 0.6);
    border-radius: 15px;
}
.chat-name-and-last-message{
    /*height: 100%;*/

    display: flex;
    /*align-items: center;*/
    flex-direction: column;


    margin-left: 10px;
}

p.chat-name{
    font-weight: 600;
    font-size: 14px;
    color: white;
}

p.last-message{
    width: 160px;
    font-weight: 400;
    font-size: 14px;
    color: #ADB5BD;

    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width:768px) {
    .chat-icon div.chat-icon-content, .chat-icon-active div.chat-icon-content{
        padding: 0 15px;
    }
}