.unselect-chat-messages{
    height: 100%;
    width: calc(100% - 23vw);

    margin-left:23vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chat-messages{
    height:100%;
    width: calc(100% - 23vw);

    display: flex;
    flex-direction: column;

    margin-left: 23vw;
    margin-top: 81px;
    padding: 15px;
}