.unselect-chat-messages{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.chat-messages{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    padding: 15px;
}