.chat-image, .chat-image-with-name{
    height: 50px;
    width: 50px;
    max-width: 50px;
    border-radius: 15px;
}

.chat-image-with-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    color: white;

    background-color: #375FFF;
}