.chat-title-block{
    position: fixed;
    top: 0;
    right: 0;

    z-index: 1;
    background-color: #0F1828;
    width: calc(100% - 23vw);
    height: 81px;

    margin-left: 23vw;
    padding: 0 15px;

    border-bottom: 1px solid #152033;

    display: flex;
    align-self: center;
    flex-direction: row;
}

.chat-title-block button.back-to-chats-button{
    display: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;

    padding-right: 15px;
    border-right: 1px solid #152033;

    cursor: pointer;
}

.chat-title-block button.back-to-chats-button svg{
    transform: rotate(180deg);
    fill: white;
    width: 30px;
    max-height:100%;
}


.chat-title-content{
    display: flex;
    align-items:center;
}

.chat-name-and-last-online-at{
    margin-left: 10px;
}
.member-name-and-surname-chat-title{
    font-size: 16px;
    font-weight: 500;
}

.last-online-at-time{
    margin-top: 5px;
    font-size: 12px;

    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width:585px) {
    .chat-title-block{
        width: 100%;
        margin-left: 0;
    }

    .chat-title-block button.back-to-chats-button{
        display: flex;
    }
}