div.base-page{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.custom-scroll {
    scrollbar-width: auto;
    scrollbar-color: #375FFF #3a4250;
}

/* Chrome, Edge, and Safari */

.custom-scroll::-webkit-scrollbar {
    width: 5px;
    border-radius: 15px;
}


.custom-scroll::-webkit-scrollbar-track {
    background: #3a4250;
}


.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #375FFF;
    border-radius: 15px;
    border: 0px none #ffffff;
}

.scroll-lock{
    overflow: hidden;
}