.message, .my-message{
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: row;

    width: fit-content;
    max-width: 45%;

    padding: 5px 10px 5px 10px;

    margin-top: 10px;
}

.message{
    align-self: flex-start;
    background: #152033;
    border-radius: 16px 16px 16px 0;
}

.my-message{
    align-self: flex-end;
    background: #375FFF;
    border-radius: 16px 16px 0 16px;
}

.message-reply-container{
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.message-reply-container.me-replying{
    align-self: flex-end;
}

.reply{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    max-width: 45%;

    padding: 15px;



    background: #152033;
    border-radius: 4px;
}

.message-reply-container.me-replying .reply{
    align-self: flex-end;
    border-right: 4px solid white ;
}

.message-reply-container.not-me-replying .reply{
    align-self: flex-start;
    border-left: 4px solid white ;
}

.time{
    align-self:flex-end;
    justify-self: end;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 10px;
    float: right;
}

.content{
    /* float: left; */
    margin-left: 0;
    word-break: break-word;
    /* float: right; */
}